<nav class="top-nav">
    <a href="/" class="nav-brand">Report Builder</a>
    <ul class="nav-links">
        <li>
            <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="mobile-app-report" class="nav-link">
                Mobile App Reports
            </NavLink>
        </li>
    </ul>
</nav>

