@page "/Error"

<PageTitle>Error</PageTitle>

<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="text-danger">Error</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
            <p class="mt-4">
                Please try refreshing the page or returning to the <a href="/">home page</a>.
            </p>
        </div>
    </div>
</div>
